* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #111;
    color: #fff;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

#nav .menu {
    display: flex;
    gap: 40px;
}

#logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}